body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #2b2b2b;
	background: linear-gradient(180deg, #00002a, #0a092f 50%, #978474);
}
.logo {
	margin: 10px auto;
	width: 90%;
	max-width: 500px;
}
.container {
	text-align: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
}
